@import url(//db.onlinewebfonts.com/c/efc7a6226bb9d41432255d1553a16c8d?family=VogaW00-Medium);

:root {
    --grey-900: hsl(41, 22%, 10%);
    --grey-800: hsl(41, 19%, 19%);
    --grey-700: hsl(41, 13%, 41%);
    --grey-600: hsl(45, 15%, 57%);
    --grey-500: hsl(41, 23%, 69%);
    --grey-400: hsl(41, 23%, 77%);
    --grey-300: hsl(41, 23%, 86%);
    --grey-200: hsl(41, 33%, 94%);
    --grey-100: hsl(41, 20%, 97%);

    --main-900: hsl(48, 96%, 10%);
    --main-800: hsl(48, 96%, 21%);
    --main-700: hsl(48, 96%, 30%);
    --main-600: hsl(48, 96%, 45%);
    --main-500: hsl(48, 100%, 50%);
    --main-400: hsl(48, 96%, 71%);
    --main-300: hsl(48, 96%, 80%);
    --main-200: hsl(48, 96%, 88%);
    --main-100: hsl(48, 96%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-100);
}

.panel {
    height: 100%;
    width: 100%;
}

.yellow {
    color: var(--main-500);
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    margin-top: 4rem;
    height: 100vh;
    opacity: 0;
    transition: all 1s ease-out;

    color: var(--grey-900);
}

#landing.fade-in {
    opacity: 1;
}

#logo-one {
    font-family: 'VogaW00-Medium';
    letter-spacing: 1.5rem;
    font-size: 10rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}


img {
    width: 50rem;
    height: 2.3rem;

    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

#logo-two {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .5rem;
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 4rem;

    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}


#down-arrow {
    margin-top: 7rem;
    height: 2.5rem;

    animation: bounce .5s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    opacity: 0;
    transition: all 2s ease-out;
}

#main.fade-in {
    opacity: 1;
}

#tag-line {
    font-family: 'VogaW00-Medium';
    color: var(--grey-900);
    font-size: 7rem;
    margin: 0rem 0rem 2rem 0rem;
}

#pairs {
    font-family: 'VogaW00-Medium';
    color: var(--grey-900);
    /* letter-spacing: 1rem; */
    font-size: 5.5rem;
}



@keyframes bounce{ 
    0% { transform: translate3d(0, 0, 0); opacity: 0;} 
    100% { transform: translate3d(0, 10px, 0);} 
} 

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}