@import url(//db.onlinewebfonts.com/c/efc7a6226bb9d41432255d1553a16c8d?family=VogaW00-Medium);

:root {
    --grey-900: hsl(41, 22%, 10%);
    --grey-800: hsl(41, 19%, 19%);
    --grey-700: hsl(41, 13%, 41%);
    --grey-600: hsl(45, 15%, 57%);
    --grey-500: hsl(41, 23%, 69%);
    --grey-400: hsl(41, 23%, 77%);
    --grey-300: hsl(41, 23%, 86%);
    --grey-200: hsl(41, 33%, 94%);
    --grey-100: hsl(41, 20%, 97%);

    --main-900: hsl(48, 96%, 10%);
    --main-800: hsl(48, 96%, 21%);
    --main-700: hsl(48, 96%, 30%);
    --main-600: hsl(48, 96%, 45%);
    --main-500: hsl(48, 100%, 50%);
    --main-400: hsl(48, 96%, 71%);
    --main-300: hsl(48, 96%, 80%);
    --main-200: hsl(48, 96%, 88%);
    --main-100: hsl(48, 96%, 97%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--grey-100);
}

#page-header {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    font-family: 'VogaW00-Medium';
    font-size: 1.5rem;
    color: var(--grey-800);
}

#home-nav {
    color: var(--grey-800);
    margin-right: 2rem;
}

#read-nav {
    color: var(--grey-800);
    margin-right: 2rem;
}

#login-nav {
    color: var(--grey-800);
    margin-right: 4.5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.select-header {
    margin-top: -5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#main {
    opacity: 0;
    transition: all 2s ease-out;
}

#main.fade-in {
    opacity: 1;
}

#prompt {
    margin-top: 1rem;
}

.pairs {
    font-family: 'VogaW00-Medium';
    color: var(--grey-900);
    font-size: 5.5rem;
}

.yellow-underline {
    text-decoration: underline;
    text-decoration-color: var(--main-500);
}

a {
    color: var(--main-500);
    transition: all .2s ease-in-out;
}

a:link {
    color: var(--main-500);
}

a:visited {
    color: var(--main-500);
}

a:hover {
    color: var(--main-300);
    transform: scale(1.1);
}

#prompt-and-box {
    opacity: 0;
    transition: all 3s ease-in-out;
}

#prompt-and-box.appear {
    opacity: 1;
}

#text-box-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-box {
    width: 110vh;
    height: 50vh;
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding: 20px;
    border: var(--grey-800) solid 1px;
    box-shadow: 0px 3px 8px 0 var(--grey-900);
    background-color: var(--main-100);
    outline: none;
    resize: none;

    color: var(--main-900);
    font-family: 'Montserrat';
    font-size: 1.5rem;
}

#submit-button {
    width: auto;
    padding: .5rem 2rem;
    margin: .5rem 0;
    outline: none;
    border: none;
    background-color: var(--grey-100);

    color: var(--main-900);
    font-family: 'VogaW00-Medium';
    text-decoration: underline;
    text-decoration-color: var(--main-500);
    font-size: 2rem;
}

#submit-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#end-screen {
    display: none;
}

#end-screen.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15%;
}

#submit-message {
    margin-bottom: 10%;
}

#read-entries {
    font-family: 'VogaW00-Medium';
    font-size: 3.5rem;
    color: var(--grey-900);
}

#read-entries:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Select box */
.custom-select {
    position: relative;
    font-family: 'VogaW00-Medium';
    margin-top: 0rem;
}

.hide {
    display: none;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

/* this is what appears on the page */
.select-selected {
    background-color: var(--grey-100);
    width: auto;
    font-family: 'VogaW00-Medium';
    font-size: 5.5rem;
    text-decoration: underline var(--main-500);
    display: flex;
    justify-content: center;
}

.select-selected:hover {
    transform: scale(1.05);
}


/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    color: var(--grey-900);
    padding: 8px 16px;
    cursor: pointer;
    font-family: 'VogaW00-Medium';
    font-size: 5rem;
    text-align: center;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--grey-100);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: var(--main-300);
}

.yellow {
    color: var(--main-500);
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: var(--main-500);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}